# Host for sending e-mail.
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'smtp.resend.com'
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = "resend"
EMAIL_HOST_PASSWORD = ""
EMAIL_SUBJECT_PREFIX = '[QGIS Feed] '
DEFAULT_FROM_EMAIL = 'no-reply-feed@qgis.org'
