# This file can be used as a template for .env
# The values in this file are also the default values.

# Host machine persistent storage directory, this path
# must be an existent directory with r/w permissions for
# the user from the Docker containers.
QGISFEED_DOCKER_SHARED_VOLUME=/shared-volume

# Backup Volume
QGISFEED_BACKUP_VOLUME=/mnt/backups/

# Number of Gunicorn workers (usually: number of cores * 2 + 1)
QGISFEED_GUNICORN_WORKERS=4

# Database name
QGISFEED_DOCKER_DBNAME=qgisfeed
# Database user
QGISFEED_DOCKER_DBUSER=docker
# Database password
QGISFEED_DOCKER_DBPASSWORD=docker

# Email variables
QGISFEED_FROM_EMAIL=''
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST=''
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''

# Allowed hosts
QGIS_FEED_PROD_URL='feed.qgis.org'

# SENTRY
SENTRY_DSN=''
SENTRY_RATE=1

# QGIS Feed Docker image
QGISFEED_DOCKER_IMAGE='kartoza/qgis-feed:latest'
