.main-page-content {
    background-position: 50% !important;
    background-size: cover !important;
    height: 100vh;
}

#menu > div > a > span:hover {
    border-bottom: solid 1px;
    color: black;
}

a.is-active > span {
    border-bottom: solid gray 1px;
}

.login-container {
    box-shadow: 0 8px 12px 0 rgb(60 60 60 / 75%);
    /* border-radius: 10px; */
}

.login-container hr {
    background-color: #dddddd;
}


.box-container {
    box-shadow: 0 4px 6px 0 rgba(108, 108, 108, 0.2);
    /* border-radius: 10px; */
}


.is-semi-transparent {
    opacity: 0.9;
}