<div id="confirmation-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Unpublish Feed Entry</p>
            <button class="delete" aria-label="close" type="button"></button>
        </header>
        <section class="modal-card-body">
            Are you sure you want to unpublish this feed item?
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <button class="button is-danger" type="submit" form="feedItemForm" name="publish" value="0">        
                <span>Confirm</span>
            </button>
            <button class="button is-default" type="button">    
                <span>Cancel</span>
            </button>

        </footer>
    </div>
</div>