{% extends 'layouts/base-fullscreen.html' %}
{% block title %} QGIS Home Page News Feed {% endblock title %} {% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style>
    .spatial-filter-map {
        .dj_map_wrapper {
            width: 100%;
        }
    }
</style>

{% endblock stylesheets %}
{% block content %}

<head>
    {{ form.media }}
</head>
<section class="hero is-dark is-small has-bg-img" style="background: url({% static "images/banner4.png" %});
       background-position: center;
       background-size: cover;">

    <div class="hero-body">
        <div class="columns is-justify-content-space-between">
            <div class="column is-6 is-align-items-center" style="display: flex">
                <div class="container has-text-left">
                    <p class="title hero-title pr-3">
                        {% if form.title.value %}
                        Edit feed item
                        {% else %}
                        New feed item
                        {% endif %}
                    </p>
                </div>
            </div>
            <div class="column is-6 is-justify-content-end" style="display: flex">
                <figure class="image">
                    <img src="{% static "images/large-logo.svg" %}" style="width: 8vw">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column is-6">
            {% include 'feeds/feed_item_form_widgets.html' %}
        </div>
        <div class="column is-6">
            <div style="border: solid #e5e5e5 1px; border-radius: 10px;">
                <h5 class="title is-5 has-text-centered mt-3">Preview</h5>
                {% include 'feeds/feed_item_preview.html' %}
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column is-6 is-flex is-justify-content-end">
            <button id="formConfirmationBtn" class="button is-block is-success js-modal-trigger" data-target="form-review-modal">
                {% if published %}
                    <span class="icon">
                        <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                    </span>
                    <span>Save changes</span>
                {% elif not published and user_is_approver and form.instance.pk %}
                    <span class="icon">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </span>
                    <span>Approve and publish</span>
                {% else %}
                    <span class="icon">
                        <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                    </span>
                    <span>Submit for review</span>
                {% endif %}
            </button>
        </div>
    </div>
</section>

{% include 'feeds/feed_item_confirmation.html' %}

{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'js/feed_item_form.js' %}"></script>
<script>
    tinymce.init({
        selector: 'textarea#id_content',
        menubar: false,
        plugins: "preview searchreplace visualblocks code fullscreen insertdatetime paste help wordcount spellchecker",
        toolbar: "undo redo | bold italic | searchreplace | code preview ",
        valid_elements: "p,strong,i",
        formats: {
          italic: { inline: 'i' }
        },
        setup: function (editor) {
            editor.on('change', function () {
                // Update content in preview when change
                const content = editor.getContent();
                contentPreview.forEach((item) => {
                item.innerHTML = content;
                });
                tinymce.triggerSave();
        
            });
            editor.on('input', function () {
                // Update content in preview when input change
                const content = editor.getContent();
                contentPreview.forEach((item) => {
                item.innerHTML = content;
                });
                tinymce.triggerSave();
            });
        }
    });
  
</script>
{% endblock javascripts %}