<form method="POST" enctype="multipart/form-data" id="feedItemForm">
  {% csrf_token %}
  <div class="box has-background-light p-3 box-container has-text-dark">
    <div class="field">
      <label class="label">
        {% if form.title.field.required %}
            <span style="color:red;">*</span>
        {% endif %}
        {{form.title.label_tag}}
      </label>
      <div class="control has-icons-left">
        {{form.title}}
        <span class="icon is-small is-left">
          <i class="fas fa-quote-right"></i>
        </span>
      </div>
      <p class="help">{{form.title.help_text}}</p>
      {% for error in form.title.errors %}
        <p class="help form-error">{{ error }}</p>
      {% endfor %}
    </div>
    <div class="field">
      <label class="label">
        {% if form.image.field.required %}
            <span style="color:red;">*</span>
        {% endif %}
        {{ form.image.label_tag }}
      </label>
    </div>
    <div class="field">
      <div class="file is-fullwidth has-name">
        <label class="file-label">
          {{form.image}}
          <span class="file-cta">
            <span class="file-icon">
              <i class="fas fa-upload"></i>
            </span>
            <span class="file-label"> Choose an image… </span>
          </span>
          <span class="file-name" id="imageFileName">
            {% if form.image.value %} {{ form.image.value.name }} {% else %}
            <i>No image chosen. Click here to add an image.</i>
            {% endif %}
          </span>
        </label>
      </div>
      <p class="help">{{form.image.help_text}}</p>
      {% for error in form.image.errors %}
        <p class="help form-error">{{ error }}</p>
      {% endfor %}
    </div>

    <div class="field">
      <label class="label">
        {% if form.content.field.required %}
            <span style="color:red;">*</span>
        {% endif %}
        {{ form.content.label_tag }}
      </label>
      <div class="control">{{form.content}}</div>
      <p class="help">{{form.content.help_text}}</p>  
      <p id="contentError" class="help form-error"></p>
    </div>

    <div class="columns">
      <div class="column is-12 field">
        <label class="label">
          {% if form.url.field.required %}
              <span style="color:red;">*</span>
          {% endif %}
          {{ form.url.label_tag }}
        </label>
        <div class="control has-icons-left">
          {{form.url}}
          <span class="icon is-small is-left">
            <i class="fas fa-link"></i>
          </span>
        </div>
        <p class="help">{{form.url.help_text}}</p>
        <p id="urlError" class="help form-error"></p>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6 field">
        <label class="label">
          {% if form.sorting.field.required %}
              <span style="color:red;">*</span>
          {% endif %}
          {{ form.sorting.label_tag }}
        </label>
        <div class="control has-icons-left">
          {{form.sorting}}
          <span class="icon is-small is-left">
            <i class="fas fa-sort"></i>
          </span>
        </div>
        <p class="help">{{form.sorting.help_text}}</p>
        {% for error in form.sorting.errors %}
          <p class="help form-error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="column is-6 field">
        <label class="label"> 
          {% if form.sticky.field.required %}
              <span style="color:red;">*</span>
          {% endif %}
          Sticky: 
        </label>
        <div class="control is-flex is-align-items-center" style="height:2.5em;">
          <label class="checkbox"> {{form.sticky}} Keep this entry on top </label>
        </div>
        {% for error in form.sticky.errors %}
          <p class="help form-error">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="columns">
      <div class="column is-6 field">
        <label class="label">
          {% if form.spatial_filter.field.required %}
              <span style="color:red;">*</span>
          {% endif %}
          {{ form.spatial_filter.label_tag }}
        </label>
        <button class="button is-light is-info js-modal-trigger is-fullwidth" data-target="spatial-filter-modal"
          type="button">
          <span class="icon">
            <i class="fa fa-map" aria-hidden="true"></i>
          </span>
          <span>Set spatial filter</span>
        </button>
        <p class="help">{{form.spatial_filter.help_text}}</p>
        {% for error in form.spatial_filter.errors %}
          <p class="help form-error">{{ error }}</p>
        {% endfor %}
      </div>
      <div class="column is-6 field">
        <label class="label">
          {% if form.language_filter.field.required %}
              <span style="color:red;">*</span>
          {% endif %}
          {{ form.language_filter.label_tag }}
        </label>
        <div class="select is-fullwidth">{{form.language_filter}}</div>
        <p class="help">{{form.language_filter.help_text}}</p>
        {% for error in form.language_filter.errors %}
          <p class="help form-error">{{ error }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="columns">
      <div class="column is-6 field">
        <label class="label">
          {% if form.publish_from.field.required %}
              <span style="color:red;">*</span>
          {% endif %}
          {{ form.publish_from.label_tag }}
        </label>
        <div class="control has-icons-left">
          {{form.publish_from}}
          <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
          </span>
        </div>
        <p class="help">{{form.publish_from.help_text}}</p>
        {% for error in form.publish_from.errors %}
          <p class="help form-error">{{ error }}</p>
        {% endfor %}
      </div>

      <div class="column is-6 field">
        <label class="label">
          {% if form.publish_to.field.required %}
              <span style="color:red;">*</span>
          {% endif %}
          {{ form.publish_to.label_tag }}
        </label>
        <div class="control has-icons-left">
          {{form.publish_to}}
          <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
          </span>
        </div>
        <p class="help">{{form.publish_to.help_text}}</p>
        {% for error in form.publish_to.errors %}
          <p class="help form-error">{{ error }}</p>
        {% endfor %}
      </div>
    </div>

    {% if published and user_is_approver and form.instance.pk %}
    <div class="columns">
      <div class="column is-6 field">
        <label class="label">
          Unpublish this entry:
        </label>
        <button 
          name="formConfirmationBtn" 
          class="button is-block is-danger is-fullwidth js-modal-trigger" 
          type="button"
          form="feedItemForm"
          data-target="confirmation-modal"
          >
            <span class="icon">
                <i class="fa fa-unlink" aria-hidden="true"></i>
            </span>
            <span>Unpublish</span>
        </button>
      </div>
    </div>
    {% endif %}

    {% if not form.instance.pk %}
      <div class="columns">
        <div class="column is-12 field">
          <label class="label">
            {% if form.approvers.field.required %}
                <span style="color:red;">*</span>
            {% endif %}
            Reviewers
          </label>
          <div class="select is-fullwidth">{{form.approvers}}</div>
          <p class="help">{{form.approvers.help_text}}</p>
          {% for error in form.approvers.errors %}
            <p class="help is-danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
  {% for error in form.non_field_errors %}
  <p class="form-error">{{ error }}</p>
  {% endfor %}
  {% include 'feeds/set_spatial_filter_modal.html' %}
  {% include 'feeds/confirmation_modal.html' %}
</form>