{% extends 'layouts/base-fullscreen.html' %}
{% block title %} QGIS Home Page News Feed {% endblock title %} {% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>

    .hoverable-preview:hover {
        cursor: pointer;
        background:rgb(237, 237, 237) !important;
    }

    #tab-content div.is-active {
        display: block;
    }

    #tab-content div.is-inactive {
        display: none;
    }

    code {
        border-radius: 5px;
        white-space: pre-wrap;
    }
</style>
{% endblock stylesheets %}
{% block pagetitle %}
{% include "layouts/page-title.html" with page_title='QGIS Feed' %}
{% endblock %}
{% block content %}

<div>
    <h1 class="title">QGIS News Feed</h1>
    <p>You can also access the QGIS News Feed in <a href="/?json=1" target="_blank" rel="noopener" class="external-link">JSON</a> format.</p>
    {% if data|length > 0 %}
    {% for feed in data %}
        {% include "feeds/feed_rich_item.html" with feed=feed show_buttons=1 %}
    {% endfor %}
    {% else %}
    <div style="width: 100%; text-align: center;" class="m-5">
        No news found
    </div>
    {% endif %}
</div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
    $(document).ready(function () {
        $('#tabs li a').on('click', function () {
            var tab = $(this).data('tab');

            $('#tabs li a').removeClass('is-active');
            $(this).addClass('is-active');

            $('.tab-content-element').removeClass('is-active');
            $('.tab-content-element').addClass('is-inactive');
            $('div[data-content="' + tab + '"]').removeClass('is-inactive');
            $('div[data-content="' + tab + '"]').addClass('is-active');
        });

    });
</script>
{% endblock javascripts %}