{% extends 'layouts/base-fullscreen.html' %} 
{% block title %} QGIS Home Page News Feed {% endblock title %} {% load static %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style>
    .spatial-filter-map {
        .dj_map_wrapper {
            width: 100%;
        }
    }
</style>

{% endblock stylesheets %} 
{% block content %}

<head>
    {{ form.media }}
</head>
<section class="hero is-dark is-small has-bg-img"

style="background: url({% static "images/banner4.png" %});
       background-position: center;
       background-size: cover;"
>

    <div class="hero-body">
        <div class="columns">
            <div class="column is-1">
            </div>
            <div class="column is-5 is-align-items-center" style="display: flex">
                <div class="container has-text-left">
                    <p class="title hero-title pr-3">
                        Add a feed entry
                    </p>
                    <p class="subtitle is-size-2 hero-subtitle">
                        
                    </p>
                </div>
            </div>
            <div class="column is-5 is-justify-content-center" style="display: flex">
                <figure class="image">
                    <img src="{% static "images/large-logo.svg" %}" style="width: 8vw">
                </figure>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="columns">
        <div class="column is-6 box has-background-light p-3 box-container has-text-dark">
            <form method="post">
                {% csrf_token %}
                <div class="field">
                    <label class="label">Title:</label>
                    <div class="control has-icons-left">
                        {{form.title}}
                        <span class="icon is-small is-left">
                        <i class="fas fa-quote-right"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Image:</label>
                </div>
                <div class="file is-fullwidth field">
                    <label class="file-label">
                        {{form.image}}
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choose an image…
                        </span>
                      </span>
                    </label>
                </div>
    
    
                <div class="field">
                    <label class="label">Content:</label>
                    <div class="control">
                        {{form.content}}
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">Url:</label>
                    <div class="control has-icons-left">
                        {{form.url}}
                        <span class="icon is-small is-left">
                        <i class="fas fa-link"></i>
                        </span>
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">
                        Sticky:
                    </label>
                    <label class="checkbox">
                        {{form.sticky}}
                        Check this option to keep this entry on top
                    </label>
                </div>
    
                <div class="field">
                    <label class="label">Sorting order:</label>
                    <div class="control has-icons-left">
                        {{form.sorting}}
                        <span class="icon is-small is-left">
                        <i class="fas fa-sort"></i>
                        </span>
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">Language filter:</label>
                  <div class="select">
                    {{form.language_filter}}
                  </div>
                </div>
                <div class="field">
                    <label class="label">Spatial filter:</label>
                    <div class="spatial-filter-map">
                        {{form.spatial_filter}}
                    </div>
                </div>
    
                <div class="field">
                    <label class="label">Publication start:</label>
                    <div class="control has-icons-left">
                        {{form.publish_from}}
                        <span class="icon is-small is-left">
                        <i class="fas fa-calendar"></i>
                        </span>
                    </div>
                    </div>
    
                    <div class="field">
                        <label class="label">Publication end:</label>
                        <div class="control has-icons-left">
                        {{form.publish_to}}
                        <span class="icon is-small is-left">
                            <i class="fas fa-calendar"></i>
                        </span>
                        </div>
                    </div>
    
                <button 
                    class="button is-block is-success"
                    type="submit" 
                    value="submit" 
                    id="submit-button"
                >
                    Save <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                </button>
            </form>
        </div>
        <div class="column is-6">
            <h5 class="title is-5">Preview</h5>
            <div id="preview"></div>
        </div>
    </div>
</section>

{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  // Capture user input in real-time
  var contentField = document.getElementById('id_content');
  var preview = document.getElementById('preview');

  contentField.addEventListener('input', function() {
      var fieldValue = contentField.value;
      preview.innerHTML = fieldValue;
  });
</script>
{% endblock javascripts %}