{% extends 'layouts/base-fullscreen.html' %} 
{% block title %} QGIS Home Page News Feed {% endblock title %} {% load static %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'ol/ol.css' %}">
{% endblock stylesheets %}
{% block content %}

<h1 class="title">Feed details</h1>

<a href="{% url 'all' %}" class="button">
    <span class="icon">
        <i class="fas fa-arrow-left"></i>
    </span>
    <span>Back to Feed List</span>
</a>

    {% include "feeds/feed_rich_item.html" with feed=feed_entry show_buttons=0 %}
    
<table class="table is-fullwidth">
    <tbody>
        <tr>
            <th>Url:</th>
            <td name="urlPreview" style="word-break: break-all;">
                {% if feed_entry.url %}
                    <a href="{{ feed_entry.url }}" target="_blank">{{ feed_entry.url }}</a>
                {% else %}
                    <i>-</i>
                {% endif %}
                <p class="help">URL for more information link</p>
            </td>
        </tr>
        <tr>
            <th>Language filter:</th>
            <td name="languagePreview">
                {{ feed_entry.language_filter_text|default:"-" }}
                <p class="help">The entry is hidden to users who have not set a matching language filter</p>
            </td>
        </tr>
        {% if feed_entry.spatial_filter %}
            <tr>
                <th>Spatial filter:</th>
                <td name="spatialFilterPreview" class="spatial-filter-map">
                    <div id="map" style="width: 100%; height: 400px;"></div>
                    <p class="help">The entry is hidden to users who have set a location that does not match</p>
                </td>
            </tr>
        {% endif %}
        <tr>
            <th>Publication start:</th>
            <td name="publishFromPreview">
                {{ feed_entry.publish_from|default:"-" }}
                <p class="help">The start date for the publication</p>
            </td>
        </tr>
        <tr>
            <th>Publication end:</th>
            <td name="publishToPreview">
                {{ feed_entry.publish_to|default:"-" }}
                <p class="help">The entry will be hidden to users after this date. You can set this in the past to remove the entry from the users listing.</p>
            </td>
        </tr>
    </tbody>
</table>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'ol/ol.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        var spatialFilter = "{{ feed_entry.spatial_filter|escapejs|default:'' }}";
        spatialFilter = spatialFilter.replace('SRID=4326;', '');
        if (spatialFilter && spatialFilter.toLowerCase() !== 'none') {
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([0, 0]),
                    zoom: 1
                })
            });
            var format = new ol.format.WKT();
            var feature = format.readFeature(spatialFilter, {
                dataProjection: 'EPSG:4326',
                featureProjection: 'EPSG:3857'
            });

            var vectorSource = new ol.source.Vector({
                features: [feature]
            });

            var vectorLayer = new ol.layer.Vector({
                source: vectorSource,
                style: new ol.style.Style({
                    stroke: new ol.style.Stroke({
                        color: '#589632',
                        width: 3
                    }),
                    fill: new ol.style.Fill({
                        color: 'rgba(88, 150, 50, 0.2)' // Transparent fill with #589632 color
                    })
                })
            });

            map.addLayer(vectorLayer);

            var extent = vectorSource.getExtent();
            map.getView().fit(extent, { size: map.getSize(), padding: [20, 20, 20, 20] });
        }
    });
</script>
{% endblock javascripts %}