<div id="form-review-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width:60% !important; max-height:80% !important;">
        <header class="modal-card-head">
            <p class="modal-card-title">Review changes</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            {% include 'feeds/feed_item_preview.html' %}
        </section>

        {% if not published and user_is_approver and form.instance.pk %}
        <div>
            <p class="notification is-danger">
                Please note: When you publish this item it will be cached on the QGIS client side. 
                Any subsequent changes you make to this posting will not be propagated to clients 
                that have already cached this post. So double check everything one more time before 
                publishing please!
            </p>
        </div>
        {% endif %}
        <footer class="modal-card-foot is-justify-content-flex-end">
            <button class="button">
                <span class="icon">
                    <i class="fa fa-pen-to-square" aria-hidden="true"></i>
                </span>
                <span>Back to editing</span>
            </button>

            {% if published %}
            <button class="button is-success" type="submit" form="feedItemForm">
                <span class="icon">
                    <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                </span>
                <span>Save changes</span>
            </button>

            {% elif not published and user_is_approver and form.instance.pk%}
            <button class="button is-success" type="submit" form="feedItemForm" name="publish" value="1">
                <span class="icon">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <span>Approve and publish</span>
            </button>
            {% else %}
            <button class="button is-success" type="submit" form="feedItemForm">
                <span class="icon">
                    <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                </span>
                <span>Submit for review</span>
            </button>

            {% endif %}

        </footer>
    </div>
</div>