<div id="form-review-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width:60% !important">
        <header class="modal-card-head">
            <p class="modal-card-title">Review changes</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            {% include 'feeds/feed_item_preview.html' %}

            <table class="table is-fullwidth">
                <tbody>
                    <tr>
                        <th>Url:</th>
                        <td id="urlPreview">
                        </td>
                    </tr>
                    <tr>
                        <th>Sticky:</th>
                        <td id="stickyPreview">
                        </td>
                    </tr>
                    <tr>
                        <th>Sorting order:</th>
                        <td id="sortingPreview">
                        </td>
                    </tr>
                    <tr>
                        <th>Language filter:</th>
                        <td id="languagePreview">
                        </td>
                    </tr>
                    <tr>
                        <th>Spatial filter:</th>
                        <td id="spatialFilterPreview" class="notification is-light"></td>
                    </tr>
                    <tr>
                        <th>Publication start:</th>
                        <td id="publishFromPreview">
                        </td>
                    </tr>
                    <tr>
                        <th>Publication end:</th>
                        <td id="publishToPreview">
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <button class="button">                
                <span class="icon">
                    <i class="fa fa-pen-to-square" aria-hidden="true"></i>
                </span>
                <span>Back to edition</span>
            </button>
            <button class="button is-success" type="submit" form="feedItemForm">        
                <span class="icon">
                    <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                </span>
                <span>Submit changes</span>
            </button>

            {% if user_is_approver and not published and form.instance.pk%}
            <button class="button is-success" type="submit" form="feedItemForm" name="publish">        
                <span class="icon">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </span>
                <span>Approve and publish</span>
            </button>
            {% endif %}

        </footer>
    </div>
</div>