<div id="spatial-filter-modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card" style="width:50% !important">
        <header class="modal-card-head">
            <p class="modal-card-title">Set spatial filter</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="spatial-filter-map">
                {{form.spatial_filter}}
            </div>
        </section>
        <footer class="modal-card-foot is-justify-content-flex-end">
            <button class="button is-success">        
                <span class="icon">
                    <i class="fa fa-floppy-disk" aria-hidden="true"></i>
                </span>
                <span>Set spatial filter</span>
            </button>

        </footer>
    </div>
</div>