@charset "utf-8";
@import "../../../../node_modules/highlight.js/scss/atom-one-dark.scss";
@import "custom.bulma.scss";
@import "sustaining_members.scss";

body {
  color: $text-primary1;
  font-weight: 300;
}

mark {
  background: linear-gradient(-100deg, #93b023, #f0e64a 95%);
  border-radius: 0.25em;
  padding: 0.05rem 0.25em;
}


.content {
  p {
    color: $text-primary2;
  }
  h3 {
    font-weight: 400;
  }
}


.box-content {
  background: $white;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0rem 0rem 1rem rgba(204, 210, 214, 0.5);
}

h2 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 2rem;
  @media screen and (max-width: 768px) {
    font-size: 2.25rem;
  }
}

.table {
  color: inherit;
}

.label {
  color: inherit;
  display: block;
  font-size: 1rem;
  font-weight: 500;
}

strong {
  font-weight: 600;
  color: inherit;
}

th {
  font-weight: 500;
}

p {
  color: $text-primary2;
}


.input,
.textarea,
.select select {
  color: $text-primary2;
  border-color: $grey-light;
}


.navbar {
  background-color: unset;
  min-height: 3em;
}
.navbar-brand, .navbar-tabs {
  min-height:unset;
  a:hover {
    color: $primary1-invert;
  }
}

.gradient-row,
.box-section-footer,
.news-container {
  background: linear-gradient(to right, #589732, #93b022);
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.news-text {
  padding-right: 3em;
  font-size: 14px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  letter-spacing: 1px;
  font-weight: 500;
}

.img-grid-1-columns-0 .img-grid-1-column-0 {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding-right: 0;
}
.img-grid-1-columns-0 .img-grid-1-column-0 img {
  height: 80%;
}

.img-grid-1-columns-0 .img-grid-1-column-1 {
  align-items: end;
  display: flex;
}

.img-grid-1-columns-1 {
  margin-top: -1.5em;
  padding-right: 50px;
}
.img-grid-1-columns-1 .img-grid-1-column-2 {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
}
.img-grid-1-columns-1 .img-grid-1-column-2 img {
  height: 60%;
}

.box-section-footer {
  margin-top: -1em;
}


.mkdown strong,
.mkdown h1,
.mkdown h2,
.mkdown h3 {
  color: inherit;
}

.mkdown li {
  margin: 20px 0;
}

.bottom-bar {
  border-bottom: 1.5em solid #ee7913;
}

.pb-7 {
  padding-bottom: 4rem !important;
}

.main-page-content {
  background-position: 50% !important;
  background-size: cover !important;
  height: 100vh;
}

.navbar-burger {
  color: $primary1-invert;
  margin-left: unset;
  width: 3em;
  height: 3em;
}

@media screen and (max-width: 1023px) {
  .navbar-menu {
    background-color: #002033;
  }
  .navbar-menu.is-active {
      display: block;
      position: fixed;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-start {
    padding: 10px;
    .navbar-dropdown {
      background-color: #002033;
      border: none;
    }
  }
  .container {
    max-width: unset;
  }
}

.login-container {
  max-width: 100%;
  min-width: 40dvw;
}

.login-container hr {
  background-color: #dddddd;
}

.box-container hr {
  background-color: #dddddd;
}

.box-container {
  // box-shadow: 0 4px 6px 0 rgba(108, 108, 108, 0.2);
  border-radius: 10px;
}


.is-semi-transparent {
  opacity: 0.9;
}

.form-error {
  color: red;
  font-size: 10pt;
  font-weight: 500;
}

.gradient-row{
  background: #002033;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.context-container{
  @extend .gradient-row;
  position: fixed;
  width: 100%;
  top: 4rem;
  z-index: 100;
  transition: top 0.3s;

  .navbar-start {
    .navbar-item {
      color: white;
      border-radius: 5px;
    }

    a.navbar-item.is-active,
    .navbar-link.is-active,
    .navbar-item {
      color: white;
      background-color: unset;
      &:hover {
        color: #0a0a0a;
        background-color: #fafafa;
      }
    }
    .navbar-link {
      color: inherit;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 1024px) {
  :root {
      --qg-nav-max-width: 960px;
  }
}
@media screen and (min-width: 1408px) {
  :root {
      --qg-nav-max-width: 1344px;
  }
}

// @media screen and (min-width: 1024px) {
//   .box-container {
//       max-width: 960px;
//   }
// }
// @media screen and (min-width: 1408px) {
//   .box-container {
//       max-width: 1200px;
//   }
// }

.spatial-filter-map {
  .dj_map_wrapper {
      width: 100%;
  }
}

.external-link {
  padding-right: 20px;
  &:after {
    position: absolute;
    width: 16px;
    content: "";
    margin-top: 5px;
    margin-left: 3px;
    height: 16px;
    z-index: 1;
    mask: url("../../images/external.svg");
    background-color: #7fa3b9;
  }
}

.rounded .rich-right img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}