<div class="box mb-0 context-container is-semi-transparent" id="context">
    <div class="container is-flex is-justify-content-flex-start">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div id="menu" class="navbar-menu">
                <div class="navbar-end">
                    <div  class="navbar-item has-text-weight-semibold is-size-10">
                        <span>QGIS Feed</span>
                    </div>
                    {% with request.resolver_match.url_name as url_name %}
                    {% if user.is_authenticated and not user.username == 'qgis_user' %}
                    <div class="navbar-item ">
                        <span>Welcome, {{user.username | upper}}</span>
                    </div>
                    <a class="navbar-item has-text-weight-semibold is-size-7 {% if url_name == 'all' %}is-active{% endif %}"
                        href="{% url "all" %}">
                        <span>Home</span>
                    </a>
                    <a class="navbar-item has-text-weight-semibold is-size-7 {% if url_name == 'feeds_list' %}is-active{% endif %}" href="{% url "feeds_list" %}">
                        <span>Manage</span>
                    </a>
                    <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url "logout" %}">
                        <span>Logout</span>
                    </a>
                    {% else %}
                    <a class="navbar-item has-text-weight-semibold is-size-7 {% if url_name == 'all' %}is-active{% endif %}" href="{% url "all" %}">
                        <span>Home</span>
                    </a>
                    <a class="navbar-item has-text-weight-semibold is-size-7 {% if url_name == 'login' %}is-active{% endif %}" href="{% url "login" %}">
                        <span>Login</span>
                    </a>
                    {% endif %}
                    {% endwith %}
                </div>
            </div>
        </nav>
    </div>
</div>