{% load i18n %}
{% load static %}
<div class="box mb-0 context-container" id="context">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="menu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div id="menu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item has-text-weight-semibold is-size-7"
                        href="{% url "all" %}">
                        QGIS Feed Home
                    </a>
                    {% if user.is_authenticated and not user.username == 'qgis_user' %}
                        <a class="navbar-item has-text-weight-semibold is-size-7" href="{% url "feeds_list" %}">
                            Manage
                        </a>
                    {% endif %}
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        {% if user.is_authenticated and not user.username == 'qgis_user' %}
                        <a class="button is-warning is-small is-fullwidth" href="{% url "logout" %}">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>
                                {% trans "Logout" %}
                            </span>
                        </a>
                        {% else %}
                        <a class="button is-info is-small" href="{% url "login" %}">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                            </span>
                            <span>
                                {% trans "Login" %}
                            </span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>